<footer>
    <section>
      <nav>
        <ul>
          <ol>
            <a href="https://www.instagram.com/5sentidos_sje"
              ><img
                src="https://img.icons8.com/ios/452/instagram-new--v1.png"
              />Instagram</a
            >
          </ol>
          <ol>
            <a href="#"
              ><img
                src="https://img.icons8.com/ios/500/whatsapp--v1.png"
              />Zap</a
            >
          </ol>
        </ul>
      </nav>
    </section>
  </footer>
</body>
</html>